<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <!-- BEGIN Pre-requisites -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async="true" defer="defer">
        </script>
    </h:head>
    <h:body>
        <h1>Google Auth</h1>

        <!-- Add where you want your sign-in button to render -->
        <!-- Use an image that follows the branding guidelines in a real app -->


        <c:if test='#{session.getValue("tokenAccess") != null}'>
            <h:outputText value='#{session.getValue("tokenAccess")}' />
            <h:link outcome="sendGmail">Send GMail</h:link>
        </c:if>
        <br/>
        <a href="goauth">Sign in with Google</a>
        
    </h:body>
</html>

