<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>web mailer</title>
    </h:head>
    <h:body>
        <ul>
            <li>
                <h:link outcome="smtp">SMTP Testh</h:link></li>
            <li>
                <h:link outcome="goauth">GMail Test</h:link></li>
        </ul>
    </h:body>
</html>

