<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Gmail Test</title>
    </h:head>
    <h:body>
        <div class="container-fluid">
            <h:form>
                
                <label for="target">Empfänger</label>
                <h:inputText  class="form-control" id="target"  required="true" value="#{gmailController.target}" 
                              requiredMessage="Ziel ist Pflicht" ></h:inputText>
                <br/>
                <hr/>
                <h:commandButton action="#{gmailController.sendGmail}" value="Abschicken">

                </h:commandButton>
            </h:form>
        </div>
    </h:body>
</html>

