<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>SMTP Test</title>
    </h:head>
    <h:body>
        <div class="container-fluid">
            <h:form>
                <label for="userName">
                    Benutzername    
                </label>
                <h:inputText  class="form-control" id="userName" required="true" value="#{sendController.userName}" requiredMessage="Benutzername ist Pflicht" ></h:inputText>
                <br/>
                <label for="password">Passwort</label>
                <h:inputSecret  class="form-control" id="password"  required="true" value="#{sendController.password}" requiredMessage="Passwort ist Pflicht" ></h:inputSecret>
                <br/>
                <label for="target">Empfänger</label>
                <h:inputText  class="form-control" id="target"  required="true" value="#{sendController.target}" requiredMessage="Ziel ist Pflicht" ></h:inputText>
                <br/>
                <hr/>
                <h:commandButton action="#{sendController.sendMail}" value="Abschicken">

                </h:commandButton>
            </h:form>
        </div>
    </h:body>
</html>

